{% extends "partials/base.html" %}
{% block content %}
<h1>Authors ordered by date of birth</h1>
     {% for author in authors_dob %}
          <h2>first Name</h2>
          <p>{{ author.first_name }}</p>
          <h3>Last Name</h3>
          <p>{{ author.last_name }}</p>
          <h3>Date of birth</h3>
          <p>{{ author.birth_date }}</p>
     {% endfor %}
     <h1>Authors ordered in default order</h1>
     {% for author in authors %}
          <h2>first Name</h2>
          <p>{{ author.first_name }}</p>
          <h3>Last Name</h3>
          <p>{{ author.last_name }}</p>
          <h3>Date of birth</h3>
          <p>{{ author.birth_date }}</p>
     {% endfor %}
     {% for book in books %}
          <h3>Book title : {{ book.title }}  by {{ book.author }}</h3>
          <h3>published date : {{ book.published_on }}</h3>
     {% endfor %}

{% for author in authors %}
    {% for book in author.book_set.all %}
       <h2> {{ author }}</h2>
       <p>{{ book }}</p>
    {% endfor %}
{% endfor %}
{% endblock content %}
